*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container 
{
	width:90%;
	margin:0 auto;
}
.row 
{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	
}
.col 
{
	width:31%;
	padding:1rem;
}
.col-card img
{
	box-shadow:0 0 5px #ccc;
	border-radius:1rem;

}
img 
{
	width:100%;

}
.col-card span
{
    border-radius:.3rem;
	padding:.1rem .2rem;
	display:flex;
	float:right;
	justify-content:center;

}
i 
{
	font-size:.5rem;
	color:white;
	margin-top:.3rem;
}
.col-card p
{
	color:grey;
	font-size:1rem;
	margin-top:.5rem;
	padding:0;
	display:flex;
	justify-content:space-between;
}
.col-card .time1 
{
	display:flex;
	justify-content:flex-end;
	margin-top:.5rem;
	
}
.col-card 
{
	position:relative;
}
.promote 
{
	position:absolute;
	top:2rem;
	left:.5rem;
	background-color:#80808075;
	color:#fff;
	padding:.2rem;
}
.offer 
{
	position:absolute;
	bottom:6rem;
	background-color:blue;
	color:white;
	border-radius:.1rem;
	padding:.2rem;
}